/* Estilos adicionales para el sidebar */
.sidebar {
  width: 250px !important;
  min-height: 100vh;
  background-color: #ffffff; /* Fondo blanco */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para la separación */
}

.sidebar .nav-link {
  color: #6c757d; /* Color gris para los enlaces */
  font-weight: 500;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.sidebar .nav-link.active {
  color: #ffffff;
  background-color: #007bff; /* Fondo azul para el enlace activo */
}

.sidebar .nav-link:hover {
  // background-color: #f1f3f5; /* Fondo gris claro al pasar el mouse */
  // background-color: #007bff; /* Fondo azul para el enlace activo */
  background-color: rgba(0, 123, 255, 0.7); /* Fondo azul claro al pasar el mouse */
  color: white;
}

/* Estilos adicionales para el header */
header {
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* Sombra en el header */
}

header .form-control {
  max-width: 300px; /* Ancho de la barra de búsqueda */
}

header .dropdown-toggle {
  color: #212529;
}

// header .badge {
//   font-size: 0.75rem;
//   position: absolute;
//   top: -5px;
//   right: -5px;
// }

/* Estilos de contenedores */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Sombra ligera */
  border-radius: 0.5rem;
}

.card h5 {
  font-weight: 600;
  color: #6c757d; /* Tono gris para el título de moneda */
}

.card h3 {
  font-weight: bold;
  color: #212529; /* Color oscuro para el saldo */
}

/* Estilo de la tabla de actividad reciente */
.table-borderless tbody tr {
  transition: background-color 0.2s ease;
}

.table-borderless tbody tr:hover {
  background-color: #f8f9fa; /* Fondo gris claro al pasar el mouse */
}

.badge {
  font-size: 0.85rem;
  padding: 0.4rem 0.75rem;
}

header .badge {
  font-size: 0.55rem; /* Tamaño de fuente para el número */
  width: 1rem;
  height: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* Texto blanco */
  background-color: #dc3545; /* Fondo rojo */
  border-radius: 50%; /* Forma circular */
  position: absolute;
  top: -5px;
  right: -10px; /* Ajuste de posición para centrar mejor el badge */
}

.sidebar {
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  overflow-y: auto;
  width: 250px;

  &.active {
    transform: translateX(0);
  }

  @media (min-width: 768px) {
    transform: translateX(0); // Siempre visible en pantallas grandes
    position: relative;
  }
}

.w-100 {
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;

  @media (min-width: 768px) {
    margin-left: 250px; // Deja espacio para el sidebar en pantallas grandes
  }
}
